body {
  padding: 0;
  margin: 0;

  min-width: 320px;
}

#root {
  position: relative;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  font-family: "Raleway", "Roboto", -apple-system, Arial, sans-serif;
  background-color: #f5f6fa;
}
